@font-face {
  font-family: 'NudiParijatha';
  src: url('/static/fonts/NudiParijatha.ttf') format('truetype');
}

* {
  font-family: 'NudiParijatha', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'NudiParijatha', sans-serif;
  overflow-y: scroll;
  font-size: 18px;
  background-color: rgb(240, 221, 188);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'NudiParijatha', sans-serif;
}

button,
input,
textarea,
select,
a {
  font-family: 'NudiParijatha', sans-serif;
}

.login-form {
  text-align: center;
  padding-top: 15px;
}