<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>ನಿರ್ವಾಹಕರ</title>
    <!-- Bootstrap CSS via CDN -->
    <link rel="stylesheet" href="/static/boostrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="stylesheet" href="/static/css/admin.css"/>
    <!-- jQuery via CDN -->
    <script src="/static/jquery/jquery-3.7.1.min.js"></script>
    <!-- JavaScript -->
    <script src="/static/boostrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/users.js"></script>
    <script src="/static/js/kavya_process.js"></script>
</head>

<body>
{% include 'navbar.html' %}

<!-- Add User Button -->
<div class="container mt-3">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#userModal">
        ನಿರ್ವಾಹಕರನ್ನು ಸೇರಿಸಿ
    </button>

    <button type="button" class="btn btn-primary">
        <a href="{{ url_for('update') }}" style="color: white; text-decoration: none;">ಪದ್ಯ ನವೀಕರಿಸಿ</a>
    </button>


</div>


<!-- User Modal -->
<div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="userModalLabel">
                    ನಿರ್ವಾಹಕರನ್ನು ಸೇರಿಸಿ
                </h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="user-add">
                    <div class="message"></div>

                    <div class="container p-4 border rounded">
                        <form id="userForm">
                            <div class="mb-3">
                                <label for="username" class="form-label">ಬಳಕೆದಾರರ ಹೆಸರು:</label>
                                <input type="text" id="username" name="username" class="form-control" required/>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">ಪಾಸ್ವರ್ಡ್:</label>
                                <input type="password" id="password" name="password" class="form-control" required/>
                            </div>
                            <div class="mb-3">
                                <label for="phone_number" class="form-label">ಫೋನ್ ಸಂಖ್ಯೆ:</label>
                                <input type="number" id="phone_number" name="phone_number" class="form-control"
                                       required/>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">ಇಮೇಲ್:</label>
                                <input type="email" id="email" name="email" class="form-control" required/>
                            </div>
                            <button type="submit" class="btn btn-primary w-100">
                                ಸೇರಿಸಿ
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="data-insert container mt-1">
    <h5 class="mb-4 text-center">ಮಾಹಿತಿ ಸೇರಿಸಿ</h5>

    <div id="insertParva" class="mb-3">
        <label for="newParvaName" class="form-label">ಹೊಸ ಪರ್ವ ಸೇರಿಸಿ</label>
        <div class="row">
            <div class="col-md-6">
                <input type="text" id="newParvaName" class="form-control" placeholder="ಪರ್ವದ ಹೆಸರು ಸೇರಿಸಿ"/>
            </div>
        </div>
        <button id="insertParvaBtn" class="btn btn-primary mt-2">
            ಪರ್ವ ಸೇರಿಸಿ
        </button>
        <div id="parvaMessage" class="mt-2"></div>
    </div>

    <div class="container model-table">
        <div style="text-align: center">
            ಪರ್ವ ವೀಕ್ಷಿಸಿ:
            <a id="viewParvaBtn" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#parvaModal">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye"
                     viewBox="0 0 16 16">
                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                </svg>
            </a>
        </div>
        <br/>
        <div style="text-align: center">
            ಸಂಧಿ ವೀಕ್ಷಿಸಿ:
            <a id="viewallsandhi" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#sandhiModal">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye"
                     viewBox="0 0 16 16">
                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                </svg>
            </a>
        </div>

        <!-- Parva Modal -->
        <div class="modal fade" id="parvaModal" tabindex="-1" aria-labelledby="parvaModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="parvaModalLabel">ಪರ್ವ ಟೇಬಲ್</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body scrollable-table">
                        <input type="text" id="parvaSearch"
                               onkeyup="searchTable('parvaSearch', 'parvaTableBodyContent')"
                               placeholder="Search for names..">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">ಪರ್ವ ಸಂಖ್ಯೆ</th>
                                <th scope="col">ಪರ್ವ ಹೆಸರು</th>
                            </tr>
                            </thead>
                            <tbody id="parvaTableBodyContent">
                            <!-- Data will be populated here -->
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary mt-2" data-bs-dismiss="modal">
                            ಮುಚ್ಚಿ
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sandhi Modal -->
        <div class="modal fade" id="sandhiModal" tabindex="-1" aria-labelledby="sandhiModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="sandhiModalLabel">ಸಂಧಿ ಟೇಬಲ್</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body scrollable-table">
                        <input type="text" id="sandhiSearch"
                               onkeyup="searchTable('sandhiSearch', 'sandhiTableBodyContent')"
                               placeholder="Search for names..">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">ಸಂಧಿ ಸಂಖ್ಯೆ</th>
                                <th scope="col">ಸಂಧಿ ಹೆಸರು</th>
                                <th scope="col">ಪರ್ವ ಸಂಖ್ಯೆ</th>
                            </tr>
                            </thead>
                            <tbody id="sandhiTableBodyContent">
                            <!-- Data will be populated here -->
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary mt-2" data-bs-dismiss="modal">
                            ಮುಚ್ಚಿ
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="insertSandhi" class="mb-3">
        <h5 class="mb-4">ಹೊಸ ಸಂಧಿ ಸೇರಿಸಿ</h5>
        <div class="row">
            <div class="col-md-6">
                <label for="parvaNumber" class="form-label">ಪರ್ವ ಸಂಖ್ಯೆ</label>
                <input type="number" id="parvaNumber" class="form-control" placeholder="ಪರ್ವ ಸಂಖ್ಯೆ ನಮೂದಿಸಿ"/>
            </div>
            <div class="col-md-6">
                <label for="newSandhiName" class="form-label mt-2">ಸಂಧಿಯ ಹೆಸರು</label>
                <input type="text" id="newSandhiName" class="form-control" placeholder="ಸಂಧಿಯ ಹೆಸರು ನಮೂದಿಸಿ"/>
            </div>
        </div>
        <button id="insertSandhiBtn" class="btn btn-primary mt-2">
            ಸಂಧಿ ಸೇರಿಸಿ
        </button>
        <div id="sandhiMessage" class="mt-2"></div>
    </div>
    

    <div id="insertPadya" class="mb-3">
        <h5 class="mb-4">ಹೊಸ ಪದ್ಯ ಸೇರಿಸಿ</h5>
        <div class="row">
            <div class="col-md-6">
                <label for="padyainsertParvaNumber" class="form-label">ಪರ್ವ ಸಂಖ್ಯೆ</label>
                <input type="number" id="padyainsertParvaNumber" class="form-control" placeholder="ಪರ್ವ ಸಂಖ್ಯೆ ನಮೂದಿಸಿ"/>
            </div>
            <div class="col-md-6">
                <label for="padyainsertSandhiNumber" class="form-label mt-2">ಸಂಧಿ ಸಂಖ್ಯೆ</label>
                <input type="number" id="padyainsertSandhiNumber" class="form-control" placeholder="ಸಂಧಿ ಸಂಖ್ಯೆ ನಮೂದಿಸಿ"/>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                <label for="padyainsertPadyaNumber" class="form-label">ಪದ್ಯ ಸಂಖ್ಯೆ</label>
                <input type="number" id="padyainsertPadyaNumber" class="form-control" placeholder="ಪದ್ಯ ಸಂಖ್ಯೆ ನಮೂದಿಸಿ"/>
            </div>
            <div class="col-md-6">
                <label for="padyainsertPadya" class="form-label mt-2">ಪದ್ಯ</label>
                <textarea id="padyainsertPadya" class="form-control" rows="3" placeholder="ಪದ್ಯ ನಮೂದಿಸಿ"></textarea>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                <label for="padyainsertPathantar" class="form-label">ಪಾಠಾಂತರ</label>
                <textarea id="padyainsertPathantar" class="form-control" rows="3" placeholder="ಪಥಾಂತರ ನಮೂದಿಸಿ"></textarea>
            </div>
            <div class="col-md-6">
                <label for="padyainsertGadya" class="form-label">ಗದ್ಯ</label>
                <textarea id="padyainsertGadya" class="form-control" rows="3" placeholder="ಗದ್ಯ ನಮೂದಿಸಿ"></textarea>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                <label for="padyainsertTippani" class="form-label">ಟಿಪ್ಪಣಿ</label>
                <textarea id="padyainsertTippani" class="form-control" rows="3" placeholder="ಟಿಪ್ಪಣಿ ನಮೂದಿಸಿ"></textarea>
            </div>
            <div class="col-md-6">
                <label for="padyainsertArtha" class="form-label">ಅರ್ಥ</label>
                <textarea id="padyainsertArtha" class="form-control" rows="3" placeholder="ಅರ್ಥ ನಮೂದಿಸಿ"></textarea>
            </div>
        </div>
        <button id="padyainsertPadyaBtn" class="btn btn-primary mt-2">
            ಪದ್ಯ ಸೇರಿಸಿ
        </button>
        <div id="padyainsertPadyaMessage" class="mt-2"></div>
    </div>
    


</div>
<br><br><br>
{% include 'footer.html' %}
<script>
    function searchTable(inputId, tableBodyId) {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById(inputId);
        filter = input.value.toUpperCase();
        table = document.getElementById(tableBodyId);
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td");
            if (td) {
                let match = false;
                for (let j = 0; j < td.length; j++) {
                    if (td[j]) {
                        txtValue = td[j].textContent || td[j].innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            match = true;
                            break;
                        }
                    }
                }
                if (match) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>

</body>

</html>