<!-- <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" title="Home" style="height: 35px;">
            <img src="/static/images/kgp_logo.png" alt="Logo" height="35px"/>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/kavya" title="ಕಾವ್ಯಪ್ರವೇಶ">
                        <button class="btn"
                                style="height: 35px; line-height: 35px; padding: 0 10px; background-color: #f3c0b4; color: black; font-weight: bold;">
                            ಕಾವ್ಯಪ್ರವೇಶ
                        </button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" title="ಪ್ರಸ್ತಾವನೆ">
                        <button class="btn"
                                style="height: 35px; line-height: 35px; padding: 0 10px; background-color: #f3c0b4; color: black; font-weight: bold;">
                            ಪ್ರಸ್ತಾವನೆ
                        </button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" title="ಹಸ್ತಪ್ರತಿ">
                        <button class="btn"
                                style="height: 35px; line-height: 35px; padding: 0 10px; background-color: #f3c0b4; color: black; font-weight: bold;">
                            ಹಸ್ತಪ್ರತಿ
                        </button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" title="ಗದುಗು">
                        <button class="btn"
                                style="height: 35px; line-height: 35px; padding: 0 10px; background-color: #f3c0b4; color: black; font-weight: bold;">
                            ಗದುಗು
                        </button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/chitra/samputa" title="ಚಿತ್ರ ಸಂಪುಟ">
                        <button class="btn"
                                style="height: 35px; line-height: 35px; padding: 0 10px; background-color: #f3c0b4; color: black; font-weight: bold;">
                            ಚಿತ್ರ ಸಂಪುಟ
                        </button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/stats" title="ಅಂಕಿ ಅಂಶ">
                        <button class="btn"
                                style="height: 35px; line-height: 35px; padding: 0 10px; background-color: #f3c0b4; color: black; font-weight: bold;">
                            ಅಂಕಿ ಅಂಶ
                        </button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout" title="ನಿರ್ಗಮನ">
                        <button class="btn"
                                style="height: 35px; line-height: 35px; padding: 0 10px; background-color: #f3c0b4; color: black; font-weight: bold;">
                            ನಿರ್ಗಮನ
                        </button>
                    </a>
                </li>
            </ul>
            <div class="d-flex">
            <span class="navbar-text me-2">
                <a href="/admin" title="ನಿರ್ವಾಹಕರ ಪುಟ​">
                    <button class="btn"
                            style="height: 35px; line-height: 35px; padding: 0 10px; background-color: #f3c0b4; color: black; font-weight: bold;"
                            title="ನಿರ್ವಾಹಕರ ಪುಟ​">
                        ನಿರ್ವಾಹಕರ ಪುಟ​
                    </button>
                </a>

            </span>
                <span class="navbar-text">
                <button class="btn"
                        style="height: 35px; line-height: 35px; padding: 0 10px; background-color: #f3c0b4; color: black; font-weight: bold;"
                        title="ಸಂಪರ್ಕಿಸಿ">
                    ಸಂಪರ್ಕಿಸಿ
                </button>
            </span>
            </div>
        </div>

    </div>
</nav>
 -->
 <style>
    .navbar {
        background-color: black; /* Navbar background color */
    }

    .navbar-nav .nav-link {
        color: white !important; /* Default text color */
        text-decoration: none; /* Remove underline */
    }

    .navbar-nav .nav-link:hover {
        background-color: #5d9185; /* Hover background color */
        color: white !important; /* Ensure text stays white on hover */
        border-radius: 5px; /* Optional: Rounded corners */
    }
</style>


<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" title="Home" style="height: 35px;">
            <img src="/static/images/kgp_logo.png" alt="Logo" height="35px"/>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/kavya" title="ಕಾವ್ಯಪ್ರವೇಶ">
                        ಕಾವ್ಯಪ್ರವೇಶ
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" title="ಪ್ರಸ್ತಾವನೆ">
                        ಪ್ರಸ್ತಾವನೆ
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" title="ಹಸ್ತಪ್ರತಿ">
                        ಹಸ್ತಪ್ರತಿ
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" title="ಗದುಗು">
                        ಗದುಗು
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/chitra/samputa" title="ಚಿತ್ರ ಸಂಪುಟ">
                        ಚಿತ್ರ ಸಂಪುಟ
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/stats" title="ಅಂಕಿ ಅಂಶ">
                        ಅಂಕಿ ಅಂಶ
                    </a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="/logout" title="ನಿರ್ಗಮನ">
                        ನಿರ್ಗಮನ
                    </a>
                </li> -->
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/admin" title="ನಿರ್ವಾಹಕರ ಪುಟ​">
                        ನಿರ್ವಾಹಕರ ಪುಟ​
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" title="ಸಂಪರ್ಕಿಸಿ">
                        ಸಂಪರ್ಕಿಸಿ
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
