<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/static/images/kgp_logo.jpg" alt="Logo" height="30">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="kavya">
                        <img src="/static/images/kavya_pravesh.PNG" alt="ಕಾವ್ಯಪ್ರವೇಶ " height="30">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">
                        <img src="/static/images/prasthavane.jpg" alt="ಪ್ರಸ್ತಾವನೆ" height="30">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <img src="/static/images/hasthaprathi.jpg" alt="ಹಸ್ತಪ್ರತಿ" height="30">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <img src="/static/images/gadugu.jpg" alt="ಗದುಗು" height="30">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <img src="/static/images/chitra.jpg" alt="ಚಿತ್ರ ಸಂಪುಟ" height="30">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <img src="/static/images/ankiamsha-image.jpg" alt="ಅಂಕಿ ಅಂಶ" height="30">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <img src="/static/images/nirgamana.PNG" alt="ನಿರ್ಗಮನ" height="30">
                    </a>
                </li>
            </ul>
            <span class="navbar-text">
                <img src="/static/images/samparxisi.png" alt="ಸಂಪರ್ಕಿಸಿ" height="30">
            </span>
        </div>
    </div>
</nav>
